body.touch {
  overflow: hidden !important;
  background-color: black;
  font-family: nintendo;
}

@font-face {
    font-family: nintendo;
    src: url(/guilhem/fonts/dogica.otf)
}

a[href*="hall"] {
  background-image: url(/ecole/files/hall.jpg) !important;
}

li .active  a {
  position: absolute;
  width: 2000px !important;
  height: 500px !important;
  top: 0;
  left: 0;
  background-repeat: no-repeat !important;
  background-position: left !important;
}

.item-nav .Button-icon, .item-nav .Button-label {
    display: none !important;
}

header.Hero.TagHero {
    display: none;
}



.IndexPage-toolbar {
    display: none !important;
}

header#header {
    background-color: black;
}

main.App-content {
    border: none !important;
}

a.DiscussionListItem-author {
    display: none !important;
}

.DiscussionListItem-info li.item-tags {
    display: none;
}

.DiscussionListItem-count {
    display: none;
}

ul.DiscussionListItem-info {
    display: none;
}

li.item-search {
    display: none;
}


.ButtonGroup.Dropdown.dropdown.DiscussionListItem-controls.itemCount8 {}

a.DiscussionListItem-main {
    margin: 0;
}

.DiscussionListItem-content.Slidable-content.read {
    padding: 0 !important;
}

h3.DiscussionListItem-title {
    margin: 0 !important;
    color: white !important;
    width: 130px;
    font-size: 11px;
    border: blue !important;
}

.App-composer {}

ul.Dropdown-menu.dropdown-menu li:not(.active) a {background: #ffffff47 !important;width: 150px;height: 150px;border-radius: 80px;position: absolute;display: none;}

.active a.TagLinkButton.hasIcon {
    display: block;
    pointer-events: none;
}

a[href*="cour"] {
    background-image: url(https://inventaire.iledefrance.fr/img/00cd976d-4faf-4270-9469-770f8783c1a7) !important;
}

.DiscussionPage-list {
    display: none;
}

a[href*="gradins"] {
    background-image: url(https://inventaire.iledefrance.fr/img/dc385f8a-87a8-423a-8bfa-e3af5c4e6633) !important;
}

div#content {}

a[href*="facade"] {
    background-image: url(https://media.lesechos.com/api/v1/images/view/609296dd8fe56f7cf52b4318/1280x720/061946883172-web-tete.jpg) !important;
}

.hall a[href*="facade"] {left: 652px;top: 237px;display: block !important;}

li.item-allDiscussions {
    display: none !important;
}

li.item-following {
    display: none;
}

li.item-tags {
    display: none;
}

.hall a[href*="gradins"] {
    left: 8px;
    top: 226px;
    display: block !important;
}

.DiscussionList {
    position: absolute;
    right: 96px;
    text-align: right;
}
